<div class="px-4  my-5 ">
  <div class="col-lg-6 mx-auto  text-center">
    <div [innerHTML]="htmlContent"></div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5" *ngIf="!ivKeyBase64">
            <input  type="file"  (change)="onFileSelected($event)">
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5" *ngIf="!ivKeyBase64">
            <button (click)="onUpload()" mat-raised-button color="primary" ><mat-icon aria-hidden="false" aria-label="encrypt & upload" fontIcon="lock"></mat-icon>Upload</button>       
        </div>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5" *ngIf="ivKeyBase64">
          <mat-form-field>
            <textarea readonly [(ngModel)]="ivKeyBase64" matInput></textarea>
          </mat-form-field>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5" *ngIf="ivKeyBase64">
          <button   [cdkCopyToClipboard]="ivKeyBase64" mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="COPY KEY" fontIcon="content_copy"></mat-icon>COPY KEY</button>            
             
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5" *ngIf="ivKeyBase64">
          
            <a class="dlLink" href="{{ link }}">{{ link }}</a>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5" *ngIf="link">
            <button [cdkCopyToClipboard]="link" mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="COPY LINK" fontIcon="content_copy"></mat-icon>COPY LINK</button>
             
        </div>

  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      
    </div>
  </div>
</div>
