.topspace{
    padding: 5em 0px 0 0;
}
.tile{
    padding: 2em
}
.ng-star-inserted{
    display: grid;
    height: inherit;
  }

  .dispElem {
    padding: 1em;
  }

  mat-form-field {
    width: 100% !important; 
  }

  .dlLink {
    font-size: 1.4em;
    padding: 1em;
  }